.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    margin-right: auto !important;
  }
  img {
    justify-content: start;
    max-height: 40px;



    @media (max-width: 768px) {
      max-width: 100px;
    }
    }
}
