:root {
  --primary-color: #000000;
  --second-color:#FABB18;
  --light-color: #ECECEC;
  --dark-color: #5b8c00;
  --red-color: #f5222d;
  --dark-red:#820014;
  --dark-green:#3f6600;
  --orange-color:#FFF8E8;
  --white-color: #ffffff;
}

